<%- include ('includes/head.ejs') %>

   <body>
      <div class="container">
         <div class="section">
            <h3 class="green-text">Lab 11: Express</h3>
         </div>
         <div class="card-panel red lighten-2">
            <h3>Lista de compras:</h3>
            </ul><br><a href="listaCompras" class="waves-effect waves-light btn red darken-3">Ir a la sección</a>
         </div>
      </div>
   </body>

   </html>
   <%- include ('includes/foot.ejs') %>