body {
   background-color: lightgray;
   font-family: "Arial", "helvetica", "sans-serif";
   padding: 0.5em 0.5em 0.5em;
}


* {

   padding: 15 px;
}


h1 {

   background: -webkit-repeating-radial-gradient(#579cdd, #23908c);
   width: 72;
   border-radius: 7px;
   padding: 20px;
}

h3 {
   border-bottom-color: #1e414298;
   margin-top: 2px;
   padding-top: 2px;
   font-size: 20px;
   font-family: 'Segoe UI';
   margin-top: 5px;
   padding-top: 5px;

}

aside {
   float: right;
   background-color: #f0dfdf;
}


p.txt {
   padding: 10px;
   border-radius: 6px;
   background-color: #ecfdfcbd;

}

ul.lista {
   background-color: #eccfc6;
   padding: 40px;
   border-radius: 15px;
}

ul.lista_fuentes {
   background-color: #dccceb;
   padding: 40px;
   border-radius: 15px;
}

ol.lista {
   background-color: hsl(0, 0%, 95%);
   padding: 40px;
   border-radius: 15px;
}

a {
   color: #338a74;
}


.Ciclo_Vida {
   text-align: center;
   font-size: 30px;


   background-color: rgb(248, 239, 199);
   font-size: 18px;

   border-radius: 7px;
   padding: 10px;
}

Preguntas {
   background-color: blue;
}

#Datos {
   background-color: rgb(207, 214, 240);
   font-size: 18px;
   text-align: left;
   border-radius: 7px;
   padding: 10px;
}

#Ciclo_Fuentes {
   background-color: rgb(171, 206, 241);
   font-size: 18px;
   text-align: left;
   border-radius: 7px;
   padding: 10px;
}

#Fuentes {
   background-color: rgb(207, 214, 240);
   font-size: 18px;
   text-align: left;
   border-radius: 7px;
   padding: 10px;
}