<%- include ('includes/head.ejs') %>

   <body>
      <div class="container">
         <div class="card-panel red lighten-5">
            <h2>Agregando items a la lista: Fruta</h2>
            <div class="row">
               <form action="nuevaFruta" method="POST" , class="col s12">
                  <div class="row">
                     <div class="input-field col s12"><input type="text" id="articulo" name="articulo"
                           placeholder="Manzana"></div>
                  </div><button class="btn waves-effect waves-light red darken-3" type="submit" value="Enviar">Submit<i
                        class="material-icons right">send</i></button><br><br>
                  <div class="col s10 offset-s1 center-align"><a href="/" class="waves-effect waves-light btn"><i
                           class="material-icons right">home</i>Regresar</a></div>
               </form>
            </div>
         </div>
      </div>
   </body>
   <%- include ('includes/foot.ejs') %>