</div>
<footer class="page-footer cyan lighten-2">
   <div class="footer-copyright cyan lighten-2">
      <div class="container ">
         © 2022 Construcción de software y toma de decisiones
      </div>
   </div>
</footer>

<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>

</html>